.card-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-y: hidden;
  padding: 1rem;
  scrollbar-width: none;
}

.card-grid::-webkit-scrollbar {
  display: none;
}

.card {
  background: var(--color-bg-secondary);
  border: 2px solid #2e2e2e;
  border-radius: var(--radius-base);
  color: var(--color-text);
  font-family: 'Geist', sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  min-width: 300px;
  max-width: 400px;
  margin: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  flex: 0 0 85%;
  scroll-snap-align: start;
}

.card-grid::after {
  content: '';
  flex: 0 0 10%;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #2e2e2e;
  display: block;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-tags-container {
  display: flex;        
  flex-direction: column;
  gap: 0.2rem;         
}

.title-tags-container h2 {
  margin: 0;
  line-height: 1.15;
  font-size: 1.15rem;
}

.tags {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.tags span {
  background: var(--color-text-gray);
  color: var(--color-bg);
  padding: 0.3rem 0.8rem;
  border-radius: var(--radius-base);
  font-size: var(--font-size-notes);
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 0.1rem;
  margin-top: 0.4rem;
}

.buttons a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: var(--color-bg);
  letter-spacing: 0.02rem;
  background: var(--color-primary);
  padding: 0.6rem 0;
  border-radius: var(--radius-base);
  font-weight: 600;
}

.buttons a.secondary {
  background: transparent;
  color: var(--color-primary);
  font-weight: 400;
  color: var(--color-text-gray);
}

.buttons a:hover {
  background: var(--color-primary-hover);
  color: var(--color-bg);
}

.buttons a.secondary:hover {
  background: var(--color-primary-hover);
  color: var(--color-bg);
}

small {
  margin-top: 0.5rem;
  color:var(--color-text-gray);
  font-size: var(--font-size-sm-mobile);
}

.reveal, .reveal-on-load {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.reveal.active, .reveal-on-load.active {
  opacity: 1;
  transform: translateY(0);
}