.card-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
}

.card-grid::-webkit-scrollbar {
    display: none;
}

.card {
    background: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    flex: 0 0 85%;
    min-width: 300px;
    max-width: 400px;
    margin: 0;
    overflow: hidden;
    border: 2px solid var(--color-bg-secondary);
    border-radius: var(--radius-base);
    color: var(--color-text);
    font-family: "Geist", sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    scroll-snap-align: start;
}

.card-grid::after {
    content: "";
    flex: 0 0 10%;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100%;
    height: clamp(150px, 25vw, 250px);
    object-fit: cover;
    border-bottom: 2px solid var(--color-bg-secondary);
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.title-tags-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.title-tags-container h2 {
    margin: 0;
    font-size: var(--font-size-base-mobile)
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    gap: 0.4rem;
    font-size: var(--font-size-sm-mobile);
}

.tags span {
    background: var(--color-text-gray);
    color: var(--color-bg);
    padding: 0.3rem 0.8rem;
    border-radius: var(--radius-base);
    font-size: var(--font-size-notes);
    font-weight: 400;
}

.buttons {
    display: flex;
    gap: 0.1rem;
    margin-top: 0.4rem;
}

.buttons a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: var(--color-bg);
    letter-spacing: 0.02rem;
    background: var(--color-primary);
    padding: 0.6rem 0;
    border-radius: var(--radius-base);
    font-weight: 700;
}

.buttons a.secondary {
    background: transparent;
    color: var(--color-primary);
    font-weight: 400;
    color: var(--color-text-gray);
}

.buttons a:hover {
    background: var(--color-primary-hover);
    color: var(--color-bg);
}

.buttons a.secondary:hover {
    background: var(--color-primary-hover);
    color: var(--color-bg);
}

small {
    margin-top: 0.5rem;
    color: var(--color-text-gray);
    font-size: var(--font-size-sm-mobile);
}